<div id="order-items">
</div>
<!-- <h5 class="text-left">Subtotal: $<span id="subtotal"></span></h5>
<h4 class="text-left">+ shipping &amp; handling ($5 flat)</h4>
<h3 class="text-left">Total: $<span id="total-charge"></span></h3> -->
