<div id="order-items">
</div>
<div id="summary">
  <h5 class="text-left">subtotal: <span id="cart-subtotal" style="font-size: 17px;"></span></h5>
  <h4 class="text-left xsmall">+ $5 flat shipping (US ONLY)</h4>
  <h3 class="text-left">total: <span id="cart-total" style="font-size: 27px;"></span></h3>
</div>
