<button class="full pink large playfair">
  add to cart:
  <input id="subtotal" readonly="true" class="quicksand" value="$12.00" style="margin-top: 0; max-width: 80px;"></span>
</button>

<div id="editor--options">
  <div class="editor--option opened light-gray">
    <span class="playfair italic">flavor</span>
    <input id="flavor" type="text" readonly="true" value="vanilla" class="quicksand float-right" />
    <div class="editor--option--dropdown" style="display: block;">
      <div class="option" data="chocolate">
        <div class="thumb" style="background-color: #774800;"></div>
        <span class="xsmall">CHOCOLATE</span>
      </div>
      <div class="option selected" data="vanilla">
        <div class="thumb" style="background-color: #fff;"></div>
        <span class="xsmall">VANILLA</span>
      </div>
      <div class="option" data="strawberry">
        <div class="thumb" style="background-color: #ffb3b7;"></div>
        <span class="xsmall">STRAWBERRY</span>
      </div>
    </div>
  </div>

  <div class="editor--option light-gray">
    <span class="playfair italic">cone</span>
    <input id="cone" type="text" readonly="true" value="sugar" class="quicksand float-right" />
    <div class="editor--option--dropdown">
      <div class="option" data="wafer">
        <div class="thumb" style="background-image: url('assets/cone_wafer_xs.png');"></div>
        <span class="xsmall">Wafer</span>
      </div>
      <div class="option selected" data="sugar">
        <div class="thumb" style="background-image: url('assets/cone_sugar_xs.png');"></div>
        <span class="xsmall">Sugar</span>
      </div>
    </div>
  </div>

  <div class="editor--option light-gray">
    <span class="playfair italic">toppings</span>
    <input id="toppingsLength" type="text" value="0" readonly="true" class="quicksand float-right" />
    <div class="editor--option--dropdown">
      <div class="option" data="sprinkles">
        <div class="thumb" style="background-image: url('assets/topping_sprinkles_xs.png');"></div>
        <span class="xsmall">Sprinkles</span>
      </div>
      <div class="option" data="fudge">
        <div class="thumb" style="background-image: url('assets/topping_fudge_xs.png');"></div>
        <span class="xsmall">Fudge</span>
      </div>
      <div class="option" data="cherry">
        <div class="thumb" style="background-image: url('assets/topping_cherry_xs.png');"></div>
        <span class="xsmall">Cherry</span>
      </div>
    </div>
  </div>

  <div class="editor--option light-gray">
    <span class="playfair italic">hardware</span>
    <input id="hardware" type="text" value="earring" readonly="true" class="quicksand float-right" />
    <div class="editor--option--dropdown">
      <div class="option selected" data="earring">
        <div class="thumb" style="background-image: url('assets/hardware_earring_xs.png');"></div>
        <span class="xsmall">Earring (PAIR)</span>
      </div>
      <div class="option" data="necklace">
        <div class="thumb" style="background-image: url('assets/hardware_necklace_xs.png');"></div>
        <span class="xsmall">Necklace</span>
      </div>
    </div>
  </div>

  <div class="editor--option light-gray">
    <span class="playfair italic">quantity</span>
    <input id="quantity" type="number" value="1" step="1" min="1" class="quicksand float-right text-right" style="width: 60px;" />
  </div>
</div>

<input id="toppings" type="hidden" />
