<div class="nav row">
  <div class="col-sm-6">
    <a href="/">mini scoop shop</a>
  </div>
  <div class="col-sm-6">
    <ul>
      <li><a href="/customizer">create your own</a></li>
      <li>|</li>
      <li>about us</li>
      <li>FAQ</li>
      <li>contact</li>
      <li class="toggleCartPreview"><a>cart</a></li>
    </ul>
  </div>
</div>

<div class="pageMask">
</div>

<div id="cartPreview">
  <div class="exitCartPreview">
    <a><h3>X</h3></a>
  </div>
  <div class="order-items">
  </div>
  <a href="/checkout">
    <button class="default large checkout">CHECK OUT</button>
  </a>
</div>
