<div class="nav light-gray">
  <ul>
    <li><a href="/"><img src="assets/icon_editor.png" /></a></li>
    <li><a href="/"><img src="assets/mini-scoop-shop_logo.png" /></a></li>
    <li class="toggleCartPreview"><img src="assets/icon_cart.png" /></li>
  </ul>
</div>
