<div class="nav light-gray">
  <ul>
    <li class="showEditor"><img src="assets/icon_editor.png" /></li>
    <li class="showEditor"><img src="assets/mini-scoop-shop_logo.png" /></li>
    <li class="showCart"><img src="assets/icon_cart.png" /></li>
  </ul>
</div>
