<div class="nav row">
  <div class="col-sm-6">
    <a href="/">mini scoop shop</a>
  </div>
  <div class="col-sm-6">
    <ul>
      <li><a href="/customizer">create your own</a></li>
      <li>|</li>
      <li>about us</li>
      <li>FAQ</li>
      <li>contact</li>
      <li>cart</li>
    </ul>
  </div>
</div>
