<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700|Quicksand:300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <link href="css/checkout.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_live_y02oyommDebOsnjcZzuyXe9g');
    </script>
    <title>ice cream party</title>
</head>


<body>
  <div class="container-fluid">

    <div id="header" class="row">
    </div>

    <div class="row" id="checkout-banner">
        <h1 class="italic pink">checkout</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1 checkout-order-items">
      </div>
      <div class="col-md-5 payment-info">
        <form action="/newCharge" method="POST" id="payment-form" class="text-left">
          <h5 class="text-left">Subtotal: $<span id="subtotal"></span></h5>
          <h4 class="text-left">+ shipping &amp; handling ($5 flat)</h4>
          <h3 class="text-left">Total: $<span id="total-charge"></span></h3>
          <hr>
          <h3 class="text-left">Billing Information</h3>
          <br>
          <span class="payment-errors"></span>
          <span>CARDHOLDER NAME</span>
          <input type="text" size="20" data-stripe="name"/>
          <br>
          <span>CARD NO.</span>
          <input type="text" size="20" data-stripe="number"/>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span>CVC</span>
          <input type="text" size="4" data-stripe="cvc"/>
          <br>
          <span>Expiration (MM/YYYY)</span>
          <input type="text" size="2" data-stripe="exp-month"/>
          <span> / </span>
          <input type="text" size="4" data-stripe="exp-year"/>
          <hr>
          <h3 class="text-left">Shipping Information</h3>
          <br>
          <span>ADDRESS</span><br>
          <input type="text" size="20" data-stripe="address1"/><br>
          <input type="text" size="20" data-stripe="address2"/>
          <br><br>
          <button class="default large">submit payment</button>
        </form>
      </div>
    </div>


    <div id="footer" class="row">
    </div>
  </div>

  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/checkout.js"></script>
</body>




</html>
