<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700|Quicksand:300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <link href="css/customizer.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <title>ice cream party</title>
</head>

<body>
  <div class="container-fluid">

    <div id="header" class="row">
    </div>

    <div class="row" id="customizer-banner">
      <h1 class="italic pink">create your own</h1>
      <h3 class="medium-gray">delicious-looking jewelry</h3>
    </div>

    <div class="design-tool row">

      <div class="tool-box col-sm-4">
        <div class="tools">
          <div class="option flavors">
            <h3 class="light-gray">pick a flavor</h3>
            <div data="chocolate" data-color="#774800">chocolate</div>
            <div data="vanilla" data-color="#ffffff" class="selected">vanilla</div>
            <div data="strawberry" data-color="#ffb3b7">strawberry</div>
            <div data="random">random</div>
          </div>

          <div class="option cones">
            <h3 class="light-gray">choose a cone</h3>
            <div class="selected" data="wafer">wafer</div>
            <div data="sugar">sugar</div>
          </div>

          <div class="option toppings">
            <h3 class="light-gray">get your toppings</h3>
            <div data="sprinkles">sprinkles</div>
            <div data="fudge">fudge</div>
            <div data="cherry">cherry on top</div>
          </div>
        </div>
      </div>

      <div class="display-box col-sm-4">
        <div id="icecream-top--container"></div>
        <div id="icecream-cone--container"></div>
        <form id="submitDesign" class="row">
          <input type="hidden" id="flavor" value="vanilla">
          <input type="hidden" id="cone" value="wafer">
          <input type="hidden" id="toppings">
          <input type="hidden" id="hardware" value="hook">
          <input type="hidden" id="size" value="medium">
          <input type="hidden" id="price--size" value="8.5">
          <input type="hidden" id="price--hardware" value="1">
          <input type="hidden" id="quantity" value="1">
          <div id="price-tag">
            <span class="xsmall medium-gray">SUBTOTAL:</span>
            <input type="text" readonly="true" id="totalprice" value="$7.50">
          </div>
          <br>
          <button class="default large">add to cart</button>
        </form>
      </div>

      <div class="tool-box col-sm-4">
        <div class="tools">
          <div class="option size">
            <h3 class="light-gray">personalize the size</h3>
            <div data="small" data-price="6">small (3/4")</div>
            <div data="medium" data-price="7.5" class="selected">medium (1-1/2")</div>
            <div data="large" data-price="9">large (2")</div>
          </div>

          <div class="option hardware">
            <h3 class="light-gray" data-price="1">need some hardware?</h3>
            <div data="stud earring" data-price="1" class="small-only" style="display:none;">stud earring (small only)</div>
            <div data="hook earring" data-price="1" class="selected" >hook earring</div>
            <div data="necklace" data-price="5">necklace chain</div>
            <div data="ring" data-price="3">ring</div>
          </div>

          <div class="option quantity">
            <h3 class="light-gray">quantity</h3>
            <p class="xsmall">all pieces sold separately.
              <br>select <u>2</u> for a matching earring set!</p>
            <div>
              <input type="number" step="1" min="1" value="1"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="row">
    </div>

  </div>

  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/customizer.js"></script>
</body>




</html>
