<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700|Quicksand:300,700|Playfair-Display:200,400,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <title>ice cream party</title>
</head>

<body>
  <div class="container-fluid">

    <div id="header" class="row">
    </div>

    <div id="promotion-bar" class="row">
    </div>

    <div class="row" id="homepage-banner">
      <div class="col-md-7 col-md-offset-5 padding-20">
        <br><br><br><br>
        <h1 class="italic pink">mini scoop shop</h1>
        <h3 class="medium-gray">custom ice cream accessories</h3>
        <a href="/customizer">
          <button class="default large">create your own</button>
        </a>
      </div>
    </div>

    <div class="row featured-product--showcase">
      <h2>featured scoops</h1>
      <br>
      <div class="col-md-10 col-md-offset-1">
        <div class="featured-product">
          <img src="/assets/featured_placeholder.jpg">
          <div class="featured-product--caption">
            <h5 class="featured-product--title">Classic Sundae with Sprinkles</h5>
            <p class="xsmall">on silver hook earrings</p>
            <button class="default">add to cart</button>
          </div>
        </div>
        <div class="featured-product">
          <img src="/assets/featured_placeholder.jpg">
          <div class="featured-product--caption">
            <h5 class="featured-product--title">Classic Vanilla with Sprinkles</h5>
            <p class="xsmall">on silver hook earrings</p>
            <button class="default">add to cart</button>
          </div>
        </div>
        <div class="featured-product">
          <img src="/assets/featured_placeholder.jpg">
          <div class="featured-product--caption">
            <h5 class="featured-product--title">Classic Vanilla with Sprinkles</h5>
            <p class="xsmall">on silver hook earrings</p>
            <button class="default">add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="row">
    </div>

  </div>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
</body>




</html>
