<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700|Quicksand:300,700|Playfair-Display:100,200,400' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <link href="css/cart.css" rel="stylesheet" type="text/css">
    <link href="css/checkout.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.18/dist/jquery.flip.min.js"></script>
    <title>ice cream party</title>
</head>

<body>
    <div id="header">
      <% include partials/_header.ejs %>
    </div>

    <div id="promotion-bar">
    </div>

    <div id="flip-container" style="min-height: 600px;">
      <div id="home" class="front">
        <form id="createIceCream">
          <div id="display" class="screen light-gray">
            <div id="display--image" class="icecream">
              <% include icecream/hardware.ejs %>
              <% include icecream/top.ejs %>
              <% include icecream/cone.ejs %>
            </div>
            <div id="display--name">
              <span class="xsmall">name your masterpiece</span>
              <input type="text" />
            </div>
          </div>

          <div id="editor" class="screen">
            <% include partials/_editor.ejs %>
          </div>
        </form>
      </div>

      <div id="payment" class="back">
        <div id="cart" class="screen light-gray">
          <% include partials/_cart.ejs %>
        </div>

        <div id="checkout" class="screen light-gray text-left">
          <% include partials/_checkout.ejs %>
        </div>
      </div>
    </div>

    <div id="footer">
      <% include partials/_footer.ejs %>
    </div>

  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <script type="text/javascript" src="js/checkout.js"></script>
</body>




</html>
