<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700|Quicksand:300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <title>ice cream party</title>
</head>

<body>
  <div id="header">
  </div>

  <div class="container-fluid">
    <h1>Make Your Own Ice Cream</h1>
    <br>
    <div class="design-tool row">

      <div class="tool-box col-sm-5">
        <div class="tools">
          <div class="option flavors">
            <h3>Pick a Flavor</h3>
            <div data="#774800">chocolate</div>
            <div class="selected" data="#ffffff">vanilla</div>
            <div data="#ffb3b7">strawberry</div>
            <div data="random">random</div>
          </div>

          <div class="option cones">
            <h3>choose a cone</h3>
            <div class="selected" data="wafer">wafer</div>
            <div data="sugar">sugar</div>
          </div>

          <div class="option toppings">
            <h3>get your toppings</h3>
            <div data="sprinkles">sprinkles</div>
            <div data="fudge">confetti</div>
            <div data="random">random</div>
          </div>

          <form id="submitDesign">
            <input type="hidden" id="flavor" value="vanilla">
            <input type="hidden" id="cone" value="wafer">
            <input type="hidden" id="toppings">
            <button class="large">all set!</button>
          </form>
        </div>
      </div>


      <div class="display-box col-sm-7">
        <div id="icecream-top--container"></div>
        <div id="icecream-cone--container"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/global.js"></script>

</body>




</html>
