#checkout-banner {
  padding: 30px 0;
  background-color: #eee;
  margin-bottom: 50px;
}

#payment-form {
  border: 1px solid #eee;
  min-height: 400px;
  padding: 20px;
}

#payment-form input {
  margin: 10px 0;
}
