#newCharge {
  padding: 20px;
  width: 100%;
}

#newCharge .label {
  display: block;
  color: #888;
  text-align: left;
  padding: 0 0 5px 0;
}

#newCharge input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 20px;
  border: none;
}

#newCharge .form-group {
  margin-bottom: 0;
}
