.container-fluid { width: 90%; max-width: 1000px; }
* {
  font-family: 'Quicksand', sans-serif;
  text-transform: lowercase;
  text-align: center;
}

button.large {
  border: none;
  border-radius: 20px;
  padding: 10px 50px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #1bdaff;
  margin-top: 40px;
}

button:hover { opacity: .6; }

.nav {
  height: 50px;
  background-color: #fafafa;
  width: 100%;
  margin-left: 0;
  padding: 12px 20px;
  font-weight: bold;
}

.nav div { text-align: left; }

.tool-box {
  text-align: center;
  padding: 0 30px;
}

.tools {
  text-align: center;
}

.option div {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: .05em;
}

.option div:hover { text-decoration: underline; }
.option div.selected { color: #ff599a; }

.display-box {
  background-color: #fafafa;
  padding: 50px;
}

#icecream-top--container, #icecream-cone--container {
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#icecream-cone--container {
  margin-top: -8px;
}

.icecream-top {
  fill: #fff;
  stroke: #000000;
  stroke-width: 3;
}

.icecream-cone {
  fill: #ECAD6B;
  stroke: #000000;
  stroke-width: 3;
}

#sprinkles path {
  stroke: #000000;
  stroke-width: 3;
}
