#editor input[readonly="true"] {
  background-color: transparent;
  border: none;
  max-width: 150px;
  text-align: right;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 8px;
}

#display--image {
  width: 170px;
  margin: 80px auto 10px auto;
}

#display--image path, #display--image polygon {
  stroke: #000;
  stroke-width: 2;
}

#display--image #coneSVG {
  margin-top: -8px;
}

#display--image #coneSVG .icecream-cone {
  fill: #ECAD6B;
}

#display--image #coneSVG .wafer,
#display--image #fudge,
#display--image #sprinkles,
#display--image #cherry {
  display: none;
}
#display--image #hardwareSVG {
  position: absolute;
  margin-left: -45px;
  margin-top: -59px;
  z-index: 100;
  width: 260px;
}

#display--image #hardwareSVG path{
  stroke: #bbb;
}

.editor--option {
  padding: 15px 20px;
  text-align: left;
  font-size: 25px;
  margin-top: 5px;
}

.editor--option:hover,
.editor--option.opened {
  border-left: 5px solid #ff8190;
}

.editor--option--dropdown {
  display: none;
  padding: 35px 0 20px 0;
}

.editor--option--dropdown .option {
  display: inline-block;
  width: 31%;
}

.editor--option--dropdown .option.selected .thumb { border: 3px solid #ff8190; }
.editor--option--dropdown .option.selected { color: #ff8190; }

.editor--option--dropdown .option .thumb {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: white;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
