#display--image {
  width: 200px;
  margin: 30px auto;
}

#display--image path, #display--image polygon {
  stroke: #000;
  stroke-width: 2;
}

#display--image #coneSVG {
  margin-top: -8px;
}

#display--image #coneSVG .icecream-cone {
  fill: #ECAD6B;
}

#display--image #coneSVG .wafer,
#display--image #fudge,
#display--image #sprinkles,
#display--image #cherry {
  display: none;
}

.editor--option {
  padding: 15px 20px;
  text-align: left;
  font-size: 25px;
  margin-bottom: 5px;
}

.editor--option input {
  background-color: transparent;
  border: none;
  max-width: 150px;
  text-align: right;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 8px;
}

.editor--option--dropdown {
  display: none;
  padding: 15px 20px;
}

.editor--option--dropdown .option {
  display: inline-block;
  width: 25%;
  margin: 3%;
}

.editor--option--dropdown .option .thumb {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: white;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
